@model WebApp.ViewModels.MedicineVM

@{
    ViewData["Title"] = "Create Medicine";
}

<h2>Create Medicine</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="MedicineName" class="control-label"></label>
        <input asp-for="MedicineName" class="form-control" />
        <span asp-validation-for="MedicineName" class="text-danger"></span>
    </div>

    <br>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
